*.txt
**/saves
**/cache
**/*.save
*.save
errors.txt
log.txt
game/estrategias.rpyc
game/salmos.rpyc
game/script.rpyc
game/cache/bytecode.rpyb
game/cache/screens.rpyb
game/saves/auto-1-LT1.save
game/saves/auto-2-LT1.save
game/saves/auto-3-LT1.save
game/saves/auto-4-LT1.save
game/saves/auto-5-LT1.save
game/saves/auto-6-LT1.save
game/saves/auto-7-LT1.save
game/saves/auto-8-LT1.save
game/saves/navigation.json
game/saves/persistent
